.contact {
    background-image: url('../assets/dark-low-poly.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
}

.title {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

.new2 {
    width: 20vw;
    border: 2px solid rgb(16, 19, 187);
}

.contact-icons {
    display: flex;
    justify-content: space-between;
}

.con-text {
    font-weight: bolder;
}

.contact1 {
    border-style: solid;
    width: 300px;
    border-color: blue;
    background: white;
    min-height: 10vh;
    color: black;
    border-radius: 20px;
    padding: 2.5%;
    margin-right: 40px;
    text-align: center;
}

#location {
    color: black;
}

.help {
    background-image: inherit;
    color: white;
    font-size: 30px;
    font-style: bold;
}

form input,
textarea {
    border: 5px solid grey;
    border-radius: 5px;
    padding: 10px;
}

label {
    color: white
}

.message {
    background: rgb(7, 7, 134);
    color: white;
    border-radius: 8px;
    border-color: rgb(7, 7, 134);
    padding: 15px
}

@media (max-width:1030px) {
    .contact1 {
        max-width: 20vw;
    }
    .contact {
        min-height: 200vh;
    }
    .con-text {
        font-size: 60%;
    }
    Loca form {
        font-size: 10px;
    }
    textarea {
        width: 50vw;
    }
}