.course {
    height: fit-content;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 10;
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.course_image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.course p {
    color: white;
    padding: 5px 10px;
}

.course .course-title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 55px;
}

.course:hover {
    box-shadow: 2px 2px 2px 2px grey;
    transform: translateY(-10px) !important;
}

.course:hover .course_image {
    transform: scale(1.05) translateY(-2.5%);
}

@media(max-width:550px) {
    .course {
        width: 80vw;
        font-size: 18px;
        margin-right: 0px;
    }
}