.courses_container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
}